<div class="blog-body container">
        <div class="well">
            <div class="page-header">
                <h1>Web My Way
                    <small>- A place for interesting web techniques.</small>
                </h1>
            </div>

            <!-- <div ng-controller="CarouselCtrl">
                            <div class="carousel">
                                <carousel interval="myInterval">
                                    <slide ng-repeat="slide in slides" active="slide.active">
                                        <img ng-src="{{slide.image}}" style="margin:auto;">
                                    </slide>
                                </carousel>
                            </div>
                        </div> -->

            <div class="row">
                <div class="col-lg-8">
                    <div class="post-unit">
                        <h2>My First Blog Post</h2>
                        <div class="well well-sm">
                            This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first.
                        </div>

                    </div>

                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first. This is a test blog post and this post will be my first.
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container marketing">
        <hr class="featurette-divider">
    </div>