body {
    margin-top: 100px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.img-responsive {
    width: 100%;
}

.panel-caption {
	margin-bottom: 0px;
	margin-top: 10px;
}

.skill-gutter{
	margin-right: 3px;
}