<nav ng-controller="HomeCtrl" class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
    <header class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WebMyWay</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="loggedInStatus" class="dropdown" ng-class="{ open : profileDD }" ng-init="profileDD = false" ng-click="profileDD = !profileDD">
                    <a class="dropdown-toggle">{{loggedinUser.firstName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref=".home.profile"><span class="glyphicon glyphicon-user"></span>profile</a></li>
                        <li><a ui-sref=".home.profile"><span class="glyphicon glyphicon-lock"></span>change password</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()" id="logout" class="pointer"><span class="glyphicon glyphicon-log-out"></span>logout</a></li>
                    </ul>
                </li>
                <li ng-show="!loggedInStatus" id="login"><a href="admin/#login">Log In</a>
                </li>
            </ul>
        </div>
    </header>
</nav>
