<div class="row">
    <div class="col-sm-12">
        <h3>{{currentPage}}</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="admin/#home">Home</a></li>
            <li><a href="admin/#home/posts">Manage Posts</a></li>
            <li class="active">{{currentPage}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form" name="draftPostForm" ng-submit="draftPost()" novalidate>
            <div class="form-group" show-errors>
                <label for="title" class="col-sm-2 control-label">Post Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" ng-model="post.title" required>
                    <p class="help-block" ng-if="draftPostForm.title.$error.required">Post Title is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <tags-input id="tags" ng-model="tags"></tags-input>
                </div>
            </div>
            <hr>
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Body</label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-warning" ng-click="insertPostItem('text', -1)">Insert Text</button>
                    <button type="button" class="btn btn-warning" ng-click="insertPostItem('code', -1)">Insert Code</button>
                </div>
            </div>
            <div class="form-group" ng-repeat="postItem in postBody">
                <ng-form name="innerForm">
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <div ng-if="postItem.type == 'text'">
                                <summernote height="300" ng-model="postItem.value"></summernote>
                            </div>
                            <div ng-if="postItem.type == 'code'">
                                <input type="text" class="form-control" placeholder="GitHub GistId" ng-model="postItem.value" >
                            </div>
                        </div>
                        <a ng-click="deletePostItem($index)" type="button" class="btn btn-warning"><span class="fa fa-trash-o"></span></a>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <button type="button" class="btn btn-warning" ng-click="insertPostItem('text', $index)">Insert Text</button>
                            <button type="button" class="btn btn-warning" ng-click="insertPostItem('code', $index)">Insert Code</button>
                        </div>
                    </div>
                </ng-form>
            </div> -->
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Body</label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-warning">Insert Text</button>
                    <button type="button" class="btn btn-warning">Insert Code</button>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <summernote height="300" ng-model="body"></summernote>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <a href="admin/#home/posts" type="button" class="btn btn-info">Cancel</a>
                    <button type="submit" class="btn btn-success" ng-disabled="draftPostForm.$invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div compile="body"></div>
<!-- <div ng-bind-html="body"></div> -->
<!-- <div>{{body}}</div> -->
