<div class="blog-body container-fluid">
    <!-- <div class="row content">
        <div class="col-lg-2 affix">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ active: $state.includes('admin.posts') }">
                    <a ui-sref=".posts">
                        <span class="glyphicon glyphicon-file"></span> Posts
                    </a>
                </li>
                <li ng-class="{ active: $state.includes('admin.profile') }">
                    <a ui-sref=".profile">
                        <span class="glyphicon glyphicon-user"></span> Profile
                    </a>
                </li>
                <li ng-class="{ active: $state.includes('home.orders') }">
                    <a ui-sref=".orders">
                        <span class="glyphicon glyphicon-gift"></span>Orders</a>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="row">
        <div class=" col-lg-10">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a>
                </li>
                <li role="presentation"><a href="#">Profile</a>
                </li>
                <li role="presentation"><a href="#">Messages <span class="badge">3</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="alert alert-{{notificationType}} {{notificationHidden}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>{{notificationType}}!</strong>
                <span>{{notification}}</span>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-offset-2 col-lg-10">
            <!-- <div ui-view></div> -->
        </div>
    </div>
</div>
