<div class="row">
    <div class="col-sm-12">
        <h3>Home</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a class="active">Home</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Whitelable Updates</h3>
            </div>
            <div class="panel-body">
                This area will show recent updates on whitelables we will create in future
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Categorie Updates</h3>
            </div>
            <div class="panel-body">
                This area will show recent updates on categories we will create in future
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Order Updates</h3>
            </div>
            <div class="panel-body">
                This area will show recent updates on Orders we will have in future
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Feedbacks</h3>
            </div>
            <div class="panel-body">
                This area will show recent feedback we will get in future
            </div>
        </div>
    </div>
</div>
